torch==2.0.1
torchvision==0.15.2
lightning<2.1.0
einops
test-tube
kornia
opencv-python
matplotlib
jupyter
imageio
imageio-ffmpeg
pandas
torch_optimizer

# for phototourism visualization
plotly

# for mesh
PyMCubes
pycollada
trimesh
pyglet==1.5.10
networkx==2.5

# for point cloud
plyfile==0.7.2
open3d==0.12.0
